<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/76c0a186-98d1-4e1f-935a-f2660c0c55b8/resourceGroups/grptestinterv/providers/Microsoft.ApiManagement/service/webApiStfapi/apis/webApiStf</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <ResourceId>/subscriptions/76c0a186-98d1-4e1f-935a-f2660c0c55b8/resourceGroups/grptestinterv/providers/Microsoft.Web/sites/WebApiSTF</ResourceId>
    <ResourceGroup>grptestinterv</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://webapistf.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>153d3b21-0e78-4d02-9dbb-9cb77208f82b</ProjectGuid>
    <PublishUrl>https://webapistf.scm.azurewebsites.net/</PublishUrl>
    <UserName>$WebApiSTF</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>